<h1>Edit Profile</h1>

<form id="form" action="/views/{{edit._id}}edit" method="POST">

    <label for="name">Edit Name</label>
    <br>
    <input type="text" name="name"
      placeholder="Your new name...">

    <button type="submit">Change Name</button>
  </form>